<header>
  <h1 class="h2">Customer Search</h1>
</header>
<section class="search-form">
  <form>
    <div class="input-group input-group-lg">
      <label for="keywords" class="sr-only">Keywords></label>
      <input type="text" id="keywords" name="keywords"
        placeholder="First Name, Last Name, or Email Address"
        class="form-control input-lg" bindon-ngModel="keywords"
        on-ngModelChange="search($event)">
      <span class="input-group-btn">
      </span>
    </div>
  </form>
</section>
<section class="search-results" *ngIf="customers">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <ol class="list-group">
    <li *ngFor="let customer of customers"
      class="list-group-item clearfix">
      <h3 class="float-right">
        <small class="text-uppercase">Joined</small>
        {{customer.created_at}}
      </h3>
      <h2 class="h3">
        {{customer.first_name}} {{customer.last_name}}
        <small>{{customer.username}}</small>
      </h2>
      <div class="float-right">
        <button class="btn btn-small btn-primary" on-click="viewDetails(customer)">
          View Details...
        </button>
      </div>
      <h4>{{customer.email}}</h4>
    </li>
  </ol>
</section>
